.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1280px) {
  .App {
    flex-direction: column;
  }
}

img {
  border-radius: 5px;
  width: 400px;
  height: 205px;
  object-fit: cover;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.493);
  transition: all 0.5s ease;
}

img:hover {
}
